

header {
  background: #f0f0f0;
  width: 100%;
  height:8em;

 
  
  top:0;
}


.barra-nav{
  float:right;
  margin-top:3em;


}
.logo img {
  display: block;
}




  @media(max-width:1200px){
      .logo{
        position:absolute;
      transform: translate(-50%);
   
      left:50%;
      }

  }

.menu-principal2,
    .menu-principal {
  font-weight: bold;
  list-style-type: none;
  }
  .menu-principal2 a,
  .menu-principal a {
    display: block;
    padding-right: 1em;
    margin-right: 1em;

    line-height: 1;
    text-decoration: none;
     font-family: 'Open Sans Condensed', sans-serif;
     font-size:17px;
     color:#7b0113;
     letter-spacing: 1.5px;
   
  }
    .menu-principal a:hover {
    color: #f09ba0;
    }
     .menu-principal2 a:hover {
    color: #f09ba0;
    }

   


img {
    max-width: 100%;
}

.logo,
.busca,
.barra-nav,
.menu-principal2,
.menu-principal {
    display: inline-block;
    vertical-align: middle;
}

.menu-principal li {
    float: left;
   
     font-family: 'Open Sans Condensed', sans-serif;
}
.menu-principal2 li {
    float: left;
   
     font-family: 'Open Sans Condensed', sans-serif;
}

header {
    padding: 0.5em 0;
}
.logo{
 width:5em;
}



@media not all and (max-width: 1200px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
    }    
}

@media (max-width: 1200px) {
    .menu-ativo:after {
        content: "";
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: rgba(0,0,0,0.4);
    }
}

@media (max-width: 1200px) {
    .barra-nav {
        background: #f0f0f0;
        padding: 1em;
        margin: 0;

        height: 100%;
        width: 90%;
        max-width: 320px;

        position: fixed;
        z-index: 1;
        top: 0;
        left: -90%;

        transition: left 0.3s ease-out;
    }
        .menu-ativo .barra-nav {
            left: 0;
        }

    .menu-principal li {
        padding: 1em 0;
        width: 100%;
      color: #7b0113; 
    }
}

.menu-abrir,
.menu-fechar {
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
}

.menu-abrir {
    height: 0;
    width:1em;
    padding-top:.100em;
    border-top: .375em double #7b0113; 
    border-bottom: .125em solid #7b0113; 

    vertical-align: middle;
    margin: 1em;    
}

.menu-fechar {
    position: relative;
    height: 1em;
    width: 1em;
}

.menu-fechar:before {
        content: '\00D7';
        position: absolute;
        top: 0;
        left: 0;
        text-indent: 0;
    }

