
#oquevendemos{


/*background-image: url(../img/brechodeazfundo.jpg);*/
  color: #7b0113;
  font-family: 'Open Sans Condensed', sans-serif;


}

#produtos{
   
      color: #7b0113;
   font-family: 'Open Sans Condensed', sans-serif;
   padding:50px;
      

  }
  .thumbnail img{
  	opacity:0.5;
  }
   .thumbnail img:hover{
  	opacity:1;
  }
  /*.thumbnail:hover{
     box-shadow: 5px 0px 40px rgba(0,0,0, .2);

  }*/

   .thumbnail {
    padding: 0 0 15px 0;
     border:5px;
   
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
     border-color:#fc0126;
    border-radius: 5px;
     border:5px;
  }

.thumbnail p{
	font-size:18px;
}
  #marcas{
    color: #7b0113;
     font-family: 'Open Sans Condensed', sans-serif;
     margin-bottom:100px;
     padding:50px;
}


.capa{



    background-image: url("../img/capa2.jpg");  

   
  

   background-size: cover;
  background-position: top-center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:200px;
 
  height:400px;

}

.capa h1
       {
  color:#ffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:50px;
    margin-right: 200px;
      text-shadow: 2px 1px black;


}


.capa h3
       {
  color:#ffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:30px;
    margin-right: 200px;
      text-shadow: 2px 1px black;


}

 @media(max-width:600px){
    .capa{
      height:400px;
     
    }
    .capa h1{
      text-align: center;
     margin-right: 0;
    }
     .capa h3{
      text-align: center;
     margin-right: 0;
    }

    
   

    }
#produtos{

  background: #f0f0f0;
  margin-top: 50px;
}

#produtos h1{
  font-weight:bold;
}
.produtos-topo{
  margin-bottom:  100px;
}
